<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
  </ul>
  
  <div class="clear">
    Thing:
    <br/>
    <input ng-model="newThing"/>
    <br/>
    <button ng-click="addThing()">Add New Thing</button>
  </div>

<div>
  <h3 class="text-muted">Awesome things</h3>
  <ul class="breadcrumb">
    <li ng-repeat="thing in awesomeThings  | filter:newThing track by $index">{{thing | uppercase}}</li>
  </ul>
</div>

</div>

<div class="jumbotron">
  <h1>'Allo, Jay z!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>


<div class="footer">
  <p><span class="glyphicon glyphicon-question-sign"></span>About</p>
</div>
